*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


h1{
    color: white;
    background-color:rgba(253, 9, 9, 0.664);
    padding: 10px;
}
footer a{
    color: aqua;
}

#descripción{
    border: 2px solid;
    padding: 5px;
    margin: 0px;
}

#usuario form{
    border: 5px solid blue;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;

}

#usuario form *{
    display: block;
}

input[type="text"]{
    margin-bottom: 15px;
    padding: 10px;
    width: 200px;
}

.parrafo{
    background-color: green;
    color: white;
}

input[type="submit"]{
    background-color: green;
    color: white;
    padding: 15px;
    font-size: 15px;
    text-transform: uppercase;
    border: 1px solid black;
    cursor: pointer;
}

#menu > li > a{
    font-size: 18px;
    color: red;
    text-decoration: none;
}